<% @title = "ログイン" %>

<h1>Sessions#new</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: "form_control" %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form_control" %>

    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>ログイン状態を維持する</span>
    <% end %>

    <%= f.submit "ログイン", class:"btn btn-primary"  %>
    <% end %>

    <%= link_to "アカウント登録はまだですか？", new_user_path %>
  </div>
</div>
