<% @title = "アカウント登録" %>
<h1>アカウント登録</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
     <%= render "error_messages" %>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, class: "form_control" %>

    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: "form_control" %>

    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: "form_control" %>

    <%= f.label :password_confirmation, "パスワード(確認)" %>
    <%= f.password_field :password_confirmation, class: "form_control" %>

    <%= f.submit "アカウント作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
