@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color: #FFFF00;
}

.nav navbar-nav navbar-right {
  float: right;
  padding: 15px 20px;
}

.logo-mark {
  float: left;
  font-size:45px;
}
