@import "bootstrap-sprockets";
@import "bootstrap";

input {
  margin-top: 5px;
  width: 100%;
}

.btn {
  margin-top: 5px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
  }
}

.field_with_errors {
  color: red;
}
