<header class="navbar navbar-deafult navbar-invarse">
  <div class="topbar">
    <%= link_to "Mymemo", root_path, class: "logo-mark" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "トップ", root_path %></li>
      <% if logged_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          アカウント <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "プロフィール", current_user %></li>
          <li><%= link_to "設定", "#" %></li>
          <li class="divider"></li>
          <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
        </ul>
      </li>
      <% else %>
      <li><%= link_to "ログイン", login_path %></li>
      <% end %>
    </ul>
  </div>
</header>
